{% extends 'base.html' %}
{% block title %}Incident listing{% endblock %}

{% block content %}
<h1>Incident listing</h1>
<a href="{% url incident.views.add_incident %}">Create incident</a>

<ul>
  {% for incident in object_list %}
    <li>
      <a href="{% url incident.views.show_incident key=incident.key %}">{{ incident.short_summary }}</a>
      {% if user.is_authenticated %}
      <a href="{% url incident.views.edit_incident key=incident.key %}">Edit</a>
      <a href="{% url incident.views.delete_incident key=incident.key %}">Delete</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<div>
  {% if has_previous %}
    <a href="{% url incident.views.list_incidents %}?page={{ previous }}">&lt;-previous</a>
  {% endif %}
  {% if has_next %}
    <a href="{% url incident.views.list_incidents %}?page={{ next }}">next-&gt;</a>
  {% endif %}
</div>
{% endblock %}
