<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
  <head>
    <title>
      {% block title %}
      Page title
      {% endblock %}
    </title>

    <link type="text/css" href="/static/css/smoothness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
    <link type="text/css" href="/static/css/jquery.timepickr.css" rel="stylesheet" />
    <link type="text/css" href="/static/css/layout.css" rel="stylesheet" />
    <script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAA2ENOnzbd5O7PPBa_rX3XXhST_L0UQKCJ0TM8M4-3K6dMTl7W9RQ9iUxC_8CSG0lL_0n6kg2yPjHcXw" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/mxn/mapstraction.js"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery-ui-1.7.2.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.timepickr.min.js"></script>
  </head>

  <body>
    <div id="wrap">
      <div id="container">
        <div id="column1">
          {% block sidebar %}
          <div id="site-logo">
            <h1>Trail Reporter 1.0</h1>
            <h2>Report bike trail incidents</h2>
          </div>
          <div id="navigation">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/create/">Create new incident report</a></li>
            </ul>
          </div>
          <div id="latest-news">
            <h2>Recent Incidents</h2>
            {% for incident in recents %} 
            <p class="date">{{incident.date}}</p>
            <p><a href="{{incident.get_absolute_url}}">{{incident.short_summary}}</a></p>
            {% endfor %}
          </div>
          {% endblock %}
        </div>
        <div id="column2">
          <div><img src="images/image04.jpg" alt="" /></div>
          <div id="page-content">
            <div class="content">
            {% block contents %}
            asdf
            {% endblock %}
            </div>
          </div>
        </div>
      </div>
      <div style="clear: both;">&nbsp;</div>
    </div>
    <div id="footer">
      <p>Copyright 2009. All Rights Reserved.</a></p>
    </div>
  </body>
</html>

