{% extends 'base.html' %}

{% block title %}
Create a Report - TrailReporter.com
{% endblock %}

{% block contents %}
<style>
  label { position: absolute; text-align:right; width:130px; }
  input, textarea, select, span.ui-timepickr { margin-left: 140px; width:65%; }
  #create-form-content{
    background-color: #ffffff;
    border: .2em solid #c0c0c0; 
  }
  #mapstraction_createmap{
    position: relative;
    height: 400px;
    width: 90%;
    margin: 10px;
  }
</style>

<div id="create-form-content">
  <p style="margin:15px">Use the form below to file an incident report with TrailReporter. Moderated incidents will be analyzed for patterns and local community organizations will be notified.</p>
  <form id="createForm" action="." method="post">
    {{incidentform.as_p}}
    <p style="margin-top:15px;margin-bottom:0px;margin-right:15px;margin-left:15px;">Click on the map below to select the location of the incident.</p>
    <div id="mapstraction_createmap"></div>
    <p style="margin:15px">Always call the Police first and get a police report if you have been in a crash or subject to road rage. Submitting this report is not a replacement for calling 911 or other appropriate authorities.</p>
    <center>
      <p><input style="width:auto;margin:0;margin-bottom:15px;" type="submit" name="createincident" value="Report this incident" /></p>
    </center>
  </form>
</div>
<script>
  var tr_mxn_cm;
  $(document).ready(function() {
    tr_mxn_cm = new Mapstraction('mapstraction_createmap', 'google');
    tr_mxn_cm.addControls({
      pan: true,
      zoom: 'large',
      overview: true,
      scale: true,
      map_type: true
    });
    var myPoint = new LatLonPoint(40.039362,-75.242894);
    tr_mxn_cm.setCenterAndZoom(myPoint, 14);
    tr_mxn_cm.addEventListener('click', function(point, marker) {
      tr_mxn_cm.removeAllMarkers();
      var new_marker = new Marker(point);
      tr_mxn_cm.addMarker(new_marker);
      $('#id_location_lat').val(point.lat);
      $('#id_location_lng').val(point.lon);
    });
    $('#id_date').datepicker({
      inline: true,
      showTime: true
    });
    $('#id_time').timepickr({
      convention: 24,
      handle: '#id_time'
    });
//    $("#createForm").validate();
  });
</script>
{% endblock %}
