{% extends 'base.html' %}

{% block title %}
Bike Trail Incident Reporter - TrailReporter.com
{% endblock %}

{% block contents %}
<div id="mapstraction_heatmap" style="position:relative;  height: 400px; width: 100%;"></div>
<script>
  var tr_mxn_hm;

  function addHeatMapMarker( args ) {
    if( !args.latitude || !args.longitude || !args.summary ) {
      return;
    }

    var bounds = tr_mxn_hm.getBounds();
    var sw = bounds.getSouthWest();
    var ne = bounds.getNorthEast();

    var ll = new LatLonPoint( args.latitude, args.longitude );
    var marker = new Marker(ll);
    var el = document.createElement('h4');
    el.appendChild( document.createTextNode(args.summary));

    marker.setInfoBubble(el);
    tr_mxn_hm.addMarker( marker );
  }

  $(document).ready(function() {
    tr_mxn_hm = new Mapstraction('mapstraction_heatmap', 'google');
    tr_mxn_hm.addControls({
      pan: true,
      zoom: 'large',
      overview: true,
      scale: true,
      map_type: true
    });

    var myPoint = new LatLonPoint(40.039362,-75.242894);
    tr_mxn_hm.setCenterAndZoom(myPoint, 14);

    {% for incident in incidents %}
    var args{{forloop.counter}} = {
      latitude: {{incident.location_lat}},
      longitude: {{incident.location_lng}},
      summary: '{{incident.short_summary}}'
    }
    addHeatMapMarker(args{{forloop.counter}});
    {% endfor %}
  });
</script>

{% endblock %}
