{% extends 'base.html' %}
{% block title %}Bike Trail Incident Reporter{% endblock %}
{% block content %}
<div id="mapstraction_heatmap" style="position:relative; margin:0; padding:0; height: 400px; width: 100%;"></div>
<script>
  var tr_mxn_hm;

  function addHeatMapMarker( args ) {
    if( !args.latitude || !args.longitude || !args.summary || !args.key ) {
      return;
    }

    var ll = new LatLonPoint( args.latitude, args.longitude );
    var marker = new Marker(ll);
    var el = document.createElement('div');

    var bubbleTitle = document.createElement('h4');
    bubbleTitle.appendChild( document.createTextNode(args.summary));

    var bubbleLink = document.createElement('a');
    bubbleLink.href = "/incident/show/" + args.key;
    bubbleLink.appendChild( document.createTextNode("Click here to display details.") );

    el.appendChild(bubbleTitle);
    el.appendChild(bubbleLink);

    marker.setInfoBubble(el);
    tr_mxn_hm.addMarker( marker );
  }

  $(document).ready(function() {
    tr_mxn_hm = new Mapstraction('mapstraction_heatmap', 'google');
    tr_mxn_hm.setMapType(Mapstraction.HYBRID);
    tr_mxn_hm.addControls({
      pan: true,
      zoom: 'small',
      overview: false,
      scale: false,
      map_type: true
    });

    var myPoint = new LatLonPoint(40.039362,-75.242894);
    tr_mxn_hm.setCenterAndZoom(myPoint, 14);

    {% for incident in incidents %}
    var args{{forloop.counter}} = {
      latitude: '{{incident.location_lat}}',
      longitude: '{{incident.location_lng}}',
      summary: '{{incident.short_summary}}',
      key: '{{incident.key}}'
    }
    addHeatMapMarker(args{{forloop.counter}});
    {% endfor %}

    // center the map on all points
    tr_mxn_hm.autoCenterAndZoom();
  });
</script>

{% endblock %}
