{% extends 'base.html' %}
{% block title %}Bike Trail Incident Reporter{% endblock %}
{% block content %}
<div id="mapstraction_heatmap" style="position:relative; margin:0; padding:0; height: 400px; width: 100%;"></div>
<script>
  var tr_mxn_hm;

  function addHeatMapMarker( args ) {
    if( !args.latitude || !args.longitude || !args.summary || !args.key ) {
      return;
    }

    var bubble_text_title = "<h4>" + args.summary + "</h4>";
    var bubble_text_link = "<a href='/incident/show/" + args.key +
        "'>Click here to display details.</a>";

    var my_marker = new Marker(new LatLonPoint( args.latitude, args.longitude ));
    my_marker.setInfoBubble(bubble_text_title + "<br />" + bubble_text_link);
    tr_mxn_hm.addMarker(my_marker);
  }

  $(document).ready(function() {
    tr_mxn_hm = new Mapstraction('mapstraction_heatmap', 'google');
    tr_mxn_hm.setMapType(Mapstraction.HYBRID);
    tr_mxn_hm.addControls({
      pan: true,
      zoom: 'small',
      overview: false,
      scale: false,
      map_type: true
    });

    var centerOnPoints = [];

    {% for incident in incidents %}
    addHeatMapMarker({
      latitude: '{{incident.location_lat}}',
      longitude: '{{incident.location_lng}}',
      summary: '{{incident.short_summary}}',
      key: '{{incident.key}}'
    });
    centerOnPoints.push(new LatLonPoint( {{incident.location_lat}}, {{incident.location_lng}} ));
    {% endfor %}

    // center the map on all points
    tr_mxn_hm.centerAndZoomOnPoints(centerOnPoints);
    tr_mxn_hm.setZoom(tr_mxn_hm.getZoom()-1);
  });
</script>

{% endblock %}
